<div class="table-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef class="centered-header">#</th>
      <td mat-cell *matCellDef="let i = index" class="centered-cell">{{ i + 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="centered-header">TRANSACCION-ID</th>
      <td mat-cell *matCellDef="let transaction" class="centered-cell">{{ transaction.id }}</td>
    </ng-container>

    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="centered-header">USER-ID</th>
      <td mat-cell *matCellDef="let transaction" class="centered-cell">
        <button mat-button (click)="showUser(transaction.userId)">
          {{ transaction.userId | user }}
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="coin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="centered-header">COIN-ID</th>
      <td mat-cell *matCellDef="let transaction" class="centered-cell">{{ transaction.coinId | uppercase }}</td>
    </ng-container>

    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="centered-header">CANTIDAD</th>
      <td mat-cell *matCellDef="let transaction" class="centered-cell">{{ transaction.coinAmount }}</td>
    </ng-container>

    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="centered-header">TIPO</th>
      <td mat-cell *matCellDef="let transaction" class="centered-cell">{{ transaction.type | transactionType }}</td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="centered-header">FECHA</th>
      <td mat-cell *matCellDef="let transaction" class="centered-cell">{{ transaction.date }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let transaction; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>

cambiar los metodos de push a los arreglos para que los ponga al principio de la filaa no al finall. ////
agregar un pipe de que el usuario esta eliminado si no se encunentra
