

.table-container {
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.centered-header {
  text-align: center;
  font-weight: bold;
  background-color: #f5f5f5;
  align-items: center;
}

.centered-cell {
  text-align: center;
  align-items: center;

}


.coin-image {
  border-radius: 50%;
}

button.mat-raised-button {
  margin: 0 8px;
}

.mat-header-cell, .mat-cell {
  border-bottom: 1px solid #e0e0e0;
}

.mat-header-row {
  background-color: #f5f5f5;
}

.mat-row:nth-child(even) {
  background-color: #fafafa;
}

.mat-row:hover {
  background-color: #f1f1f1;
}

.mat-sort-header {
  align-items: center;
}





