
<mat-form-field  >
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="searchCoin($event)" placeholder="Escriba para buscar...">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="coinsTableData" class="mat-elevation-z8" matSort>

    <!-- Index Column -->
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let i = index"> {{ i + 1 }} </td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let coin"> {{ coin.id }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let coin"> {{ coin.name }} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
      <td mat-cell *matCellDef="let coin"> {{ coin.symbol }} </td>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Imagen </th>
      <td mat-cell *matCellDef="let coin">
        <img [src]="coin.image" alt="{{coin.name}}" width="32">
      </td>
    </ng-container>

    <!-- Current Price Column -->
    <ng-container matColumnDef="current_price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio Actual </th>
      <td mat-cell *matCellDef="let coin"> {{ coin.current_price | currency:'USD':'symbol' }} </td>
    </ng-container>

    <!-- Last Updated Column -->
    <ng-container matColumnDef="last_updated">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ultima Actualizacion </th>
      <td mat-cell *matCellDef="let coin"> {{ coin.last_updated | date:'short' }} </td>
    </ng-container>

    <ng-container matColumnDef="buy">
      <th mat-header-cell *matHeaderCellDef> Comprar </th>
      <td mat-cell *matCellDef="let coin">
        <button color="primary" (click)="buy(coin)">Comprar</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="sell">
      <th mat-header-cell *matHeaderCellDef> Vender </th>
      <td mat-cell *matCellDef="let coin">
        <button color="accent" (click)="sell(coin)"> Vender </button>
      </td>
    </ng-container>



    <!-- Header Row Definition -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <!-- Data Row Definition -->
    <tr mat-row *matRowDef="let coin; columns: displayedColumns;"></tr>
  </table>


</div>
