

<app-search-coin
(coinSearch)="dataSource.filter = $event"
></app-search-coin>

<div class="table-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <!-- Index Column -->
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef class="centered-header"> # </th>
      <td mat-cell *matCellDef="let i = index" class="centered-cell"> {{ i + 1 }} </td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="centered-header"> ID </th>
      <td mat-cell *matCellDef="let coin" class="centered-cell"> {{ coin.id }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="centered-header"> Nombre </th>
      <td mat-cell *matCellDef="let coin" class="centered-cell"> {{ coin.name }} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="centered-header"> Symbol </th>
      <td mat-cell *matCellDef="let coin" class="centered-cell"> {{ coin.symbol }} </td>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef class="centered-header"> Imagen </th>
      <td mat-cell *matCellDef="let coin" class="centered-cell">
        <img [src]="coin.image" alt="{{coin.name}}" width="32" class="coin-image">
      </td>
    </ng-container>

    <!-- Current Price Column -->
    <ng-container matColumnDef="current_price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="centered-header"> Precio Actual </th>
      <td mat-cell *matCellDef="let coin" class="centered-cell"> {{ coin.current_price | number:'1.0-10' }} </td>
    </ng-container>

    <!-- Last Updated Column -->
    <ng-container matColumnDef="last_updated">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="centered-header"> Ultima Actualización </th>
      <td mat-cell *matCellDef="let coin" class="centered-cell"> {{ coin.last_updated | date:'short' }} </td>
    </ng-container>

    <!-- Buy Column -->
    <ng-container matColumnDef="buy">
      <th mat-header-cell *matHeaderCellDef class="centered-header"> Comprar </th>
      <td mat-cell *matCellDef="let coin" class="centered-cell">
        <button mat-raised-button color="primary" (click)="buy(coin)">Comprar</button>
      </td>
    </ng-container>

    <!-- Sell Column -->
    <ng-container matColumnDef="sell">
      <th mat-header-cell *matHeaderCellDef class="centered-header"> Vender </th>
      <td mat-cell *matCellDef="let coin" class="centered-cell">
        <button
          mat-raised-button
          color="accent"
          (click)="sell(coin)"
          [ngClass]="{'disabled-button': !filterButtonSell(coin.id)}"
          [disabled]="!filterButtonSell(coin.id)">
          Vender
        </button>
      </td>
    </ng-container>


    <!-- Header Row Definition -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <!-- Data Row Definition -->
    <tr mat-row *matRowDef="let coin; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 50, coinsGecko.length]" showFirstLastButtons></mat-paginator>

</div>
