<mat-dialog-content class="edit-user-dialog">
  <form [formGroup]="editForm" (ngSubmit)="onConfirm()">

    <h1 class="display-8 text-center mt-3 mb-3"> {{ editMode ? 'Editar Usuario' : 'Registrar Usuario' }}  </h1>

    <hr>

    <div *ngIf="editMode" class="id-container">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>ID</mat-label>
        <input matInput [value]="idUser" readonly style="cursor: default;">
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" placeholder="Nombre">
      <mat-error *ngIf="isValidfield('name')">
        Introduce un nombre válido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Email">
      <mat-error *ngIf="isValidfield('email')">
        Introduce un email válido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Documento</mat-label>
      <input matInput formControlName="document" placeholder="Documento">
      <mat-error *ngIf="isValidfield('document')">
        Introduce un documento válido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre de usuario</mat-label>
      <input matInput formControlName="username" placeholder="Nombre de usuario">
      <mat-error *ngIf="isValidfield('username')">
        Introduce un nombre de usuario válido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width password-container">
      <mat-label>Contraseña</mat-label>
      <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password" placeholder="Contraseña">
      <button mat-icon-button matSuffix (click)="showPassword()" type="button">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="isValidfield('password')">
        La contraseña es requerida
      </mat-error>
    </mat-form-field>

    <mat-checkbox *ngIf="!editMode" formControlName="admin">Administrador</mat-checkbox>

    <div class="button-group">
      <button mat-button mat-flat-button color="primary" type="submit" [disabled]="editForm.invalid">Guardar Cambios</button>
      <button mat-button mat-flat-button color="warn" type="button" (click)="onCancel()">Cancelar</button>
    </div>


  </form>
</mat-dialog-content>

