<ng-container *ngIf="data.operation === 'buy'">
  <h1 mat-dialog-title align="center">Confirmación de compra</h1>
  <div mat-dialog-content>
    <p *ngIf="data.currency === 'crypto'; else usdTemplate">
      Se descontará un total de ${{ data.coinCurrentPrice! * data.coin!.coinAmount | number:'1.2-2' }} USD de tus fondos.
    </p>
    <ng-template #usdTemplate>
      <p>
        Comprarás un total de {{ data.coin?.coinAmount | number:'1.2-20' }} {{ data.coin?.id }}.
      </p>
    </ng-template>
  </div>
  <div mat-dialog-actions align="center">
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="onConfirm()">Confirmar</button>
  </div>
</ng-container>


<ng-container *ngIf="data.operation == 'sell'">

  <h1 mat-dialog-title align="center">Confirmacion de enta</h1>
  <div mat-dialog-content>
    <p *ngIf="data.currency == 'crypto';else usdTemplate ">
      Obtendras un total de ${{ this.data.coinCurrentPrice! * this.data.coin!.coinAmount | number:'1.2-2' }} USD a tus fondos.
    </p>
    <ng-template #usdTemplate>
      <p>
        Venderas un total de {{ data.coin?.coinAmount | number:'1.2-20' }} {{ data.coin?.id }}.
      </p>
    </ng-template>
  </div>
  <div mat-dialog-actions align="center">
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="onConfirm()">Confirmar</button>
  </div>

</ng-container>

<ng-container *ngIf="data.operation == 'deposit-funds'">

  <h1 mat-dialog-title align="center">Confirmarcion de deposito</h1>
  <div mat-dialog-content>
    <p>Depositaras ${{ data.funds | number }} USD a tu cuenta.</p>
  </div>
  <div mat-dialog-actions align="center">
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="onConfirm()">Confirmar</button>
  </div>

</ng-container>

<ng-container *ngIf="data.operation == 'withdraw-funds'">

  <h1 mat-dialog-title align="center">Confirmacion de extraccion</h1>
  <div mat-dialog-content>
    <p>Retiraras ${{ data.funds | number }} USD de tu cuenta.</p>
  </div>
  <div mat-dialog-actions align="center">
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="onConfirm()">Confirmar</button>
  </div>

</ng-container>

