/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
  flex: 1 1 auto;
}





:root {
  --color-primario: #ffc93c;
  --color-primario-hover: #e4b233;
  --color-gris-primario: #F5F7F8;

  --color-boton: #fff;
  --color-boton-hover: #fff;

  --color-texto: black;
  --color-texto-hover: rgba(0, 0, 0, 0.518);

  --color-back: #ffc93c;
  --color-back-hover: #fcbf25;

  --color-bisabled: #fff;
  --color-disabled-back: #ff9a3c86;

  --color-navbar-back: #ffc93c;
  --color-navbar-back-hover: #ffc83ca2;
}

