/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
  flex: 1 1 auto;
}

hr{
  border: 0;
  height: 1px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin: 2rem 0;
}

.p-toast{
  width: 50vh;
  height: auto;
}

/* Ocultar la flecha de ordenación */
.mat-sort-header-arrow {
  display: none !important;
}

/* Oculte el contenedor de la flecha */
.mat-sort-header-arrow-container {
  display: none !important;
}

.mat-sort-header-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.mat-sort-header-content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

:root {
  --color-primario: #ffc93c;
  --color-primario-hover: #e4b233;
  --color-gris-primario: #F5F7F8;

  --color-boton: #fff;
  --color-boton-hover: #fff;

  --color-texto: black;
  --color-texto-hover: rgba(0, 0, 0, 0.518);

  --color-back: #ffc93c;
  --color-back-hover: #fcbf25;

  --color-bisabled: #fff;
  --color-disabled-back: #ff9a3c86;

  --color-navbar-back: #ffc93c;
  --color-navbar-back-hover: #ffc83ca2;
}

