<shared-nav-bar></shared-nav-bar>

<div class="container mt-5 d-flex justify-content-center">
  <div class="card p-4 shadow" style="width: 100%; max-width: 400px;">
    <div class="card-body">
      <h2 class="text-center text-uppercase mb-4">Registrarme</h2>

      <hr>

      <form [formGroup]="registerForm" (submit)="onSubmit()">

        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Nombre</mat-label>
          <input type="text" matInput placeholder="Nombre" formControlName="name">
          <mat-error *ngIf="isValidfield('name')">
            {{ messageField('name') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Email</mat-label>
          <input type="text" matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="isValidfield('email')">
            {{ messageField('email') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Documento</mat-label>
          <input type="text" matInput placeholder="Documento" formControlName="document">
          <mat-error *ngIf="isValidfield('document')">
            {{ messageField('document') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Nombre de usuario</mat-label>
          <input type="text" matInput placeholder="Usuario" formControlName="username">
          <mat-error *ngIf="isValidfield('username')">
            {{ messageField('username') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 mb-4">
          <mat-label>Contraseña</mat-label>
          <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Contraseña" formControlName="password">
          <button mat-icon-button matSuffix (click)="showPassword()" type="button">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="isValidfield('password')">
            {{ messageField('password') }}
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" class="w-100" [disabled]="registerForm.invalid">
          Registrarme!
        </button>
      </form>
    </div>
  </div>
</div>

