.navbar {
  background-color: #673AB7; /* Color púrpura */
  color: #ffffff;
  padding: 0 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar button {
  font-weight: bold;
  color: #ffffff;
  margin-right: 12px;
  transition: background-color 0.3s ease;
}

.navbar button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.navbar .spacer {
  flex: 1 1 auto;
}

.mat-toolbar-row {
  justify-content: space-between;
}

button.mat-button {
  text-transform: uppercase;
}

button.mat-button[disabled] {
  color: rgba(255, 255, 255, 0.5);
}

button.mat-button:focus {
  outline: none;
  box-shadow: none;
}
