<mat-toolbar class="navbar">
  <button mat-button (click)="landing()">Inicio</button>
  <button mat-button (click)="contact()" *ngIf="!isAdmin">Contacto</button>
  <button mat-button (click)="main()" *ngIf="isLogin && !isAdmin">Mercado</button>
  <button mat-button (click)="wallet()" *ngIf="isLogin && !isAdmin">Mi billetera</button>
  <button mat-button (click)="transictions()" *ngIf="isLogin && !isAdmin">Mis transacciones</button>
  <button mat-button (click)="transictions()" *ngIf="isAdmin">Transacciones</button>
  <button mat-button (click)="users()" *ngIf="isAdmin">Usuarios</button>

  <span class="spacer"></span>

  <button mat-button [matMenuTriggerFor]="profileMenu" *ngIf="isLogin &&!isAdmin ">
    Mi Perfil
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item (click)="editProfile()">
      Editar perfil
    </button>
  </mat-menu>

  <button mat-button (click)="logout()" *ngIf="isLogin">Cerrar Sesión</button>
  <button mat-button (click)="login()" *ngIf="!isLogin">Iniciar Sesión</button>
  <button mat-button (click)="register()" *ngIf="!isLogin && !isAdmin">Registrarme</button>
</mat-toolbar>
